* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: black;
    font-family: 'Mansalva',
        cursive;
    overflow: hidden;
    text-align: center;
}


#header {
    background-image: linear-gradient(to right bottom, rgba(78, 35, 7, 0.8), rgba(82, 69, 12, 0.8)),
        url("img/cat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    clip-path: circle(65%);
}

.title {
    color: hsl(27, 36%, 35%);
    display: inline-block;
    font-family: 'Amatic SC',
        cursive;
    font-size: 8.5rem;
    font-weight: bold;
    letter-spacing: 0.9rem;
    margin-right: 1.4rem;
    opacity: 0.8;
}

.title-container {
    margin-bottom: 30px;
    padding: 25px;
}

/* TODO: add transform/transition to h2, or better  yet make a visually appealing clock coutdown*/
.title-container h2 {
    color: hsl(27, 37%, 54%);

    font-size: 2rem;
    letter-spacing: 0.4rem;
    opacity: 0.8;
    animation: counter-load 3.2s linear;
}

#heading {
    animation: heading-load 2.5s;
}

#subtitle {
    animation: subtitle-load 2.5s;
}

.movie-container {
    position: relative;
}




/* TODO: figure out a better way to reveal images*/
#movie-info {
    background: rgba(63, 31, 6, 0.99);
    background-position: bottom left;
    /* opacity: 0.95; */
    backface-visibility: hidden;
    border-radius: 2px;
    box-shadow: inset 0 0 12px rgba(31, 8, 2, 0.99);
    height: 490px;
    width: 400px;
    display: block;
    margin: 0.8rem auto;
    position: absolute;
    left: 37vw;
    transition: all 1s;
    animation: button-load 4.9s;
}

#movie-info.active {
    padding: 5px;

}

#movie-info.active img {
    height: 480px;
    width: 390px;
    animation: scale-image .5s linear;
}

#movie-link {
    margin: auto;
    font-size: 2rem;
    text-align: center;
    padding: 8px 0;
    height: 10rem;
    position: absolute;
    z-index: 4;
    right: 47%;
    top: 49.5rem;

}

#movie-link a {
    color: hsl(27, 37%, 50%);
    text-decoration: none;
}


@keyframes header-load {
    0% {
        transform: translateY(-110px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes button-load {
    0% {
        transform: translateY(650px) rotate(-90deg) scale(6);
    }

    50% {
        transform: translateY(0) scale(1);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes heading-load {
    0% {
        transform: translateX(-600px);
    }
}

@keyframes subtitle-load {
    0% {
        transform: translateX(600px);
    }
}

@keyframes counter-load {
    0% {
        opacity: 0;
    }

    /* 50% {
        opacity: 0.3
    } */

    100% {
        opacity: 1;
    }
}

@keyframes scale-image {
    0% {
        transform: scale(0, 0);
    }

    50% {
        transform: scale(0.5, 0.5);
    }

    100% {
        transform: scale(1);
    }
}